<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created by {{poster.name}} on {{format_date date_posted}}</p>
    {{#if comments.length}}
    <div class="col-md-6 comment-list">
        <h3>Current comments:</h3>

        {{#each comments as |comment|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/comment/{{comment.id}}">{{comment.title}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>