<div class="text-center">
    <input type="hidden" value="{{id}}" id="blogid" />
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created by {{poster.name}} on {{format_date date_posted}}</p>

    <div class="col-md-6 comment-list">
        <h3>Leave a Comment:</h3>
        <form class="form commentForm">
            <div class="row mb-2">
                <div class="col-md-8">
                    <textarea id="blogcomment" name="blogcomment" rows="4" cols="50"></textarea>
                </div>

            </div>
            <div class="col-md-4">
                <button class="btn btn-dark " type="submit">Leave a comment</button>
            </div>
        </form>

    </div>
</div>
<script src="/js/comment.js"></script>