<div class="menu-container">
  <div class="card-header col-md-10 dashboard">
    <h2>Welcome To Your Dashboard</h2>
    <h1>Here are your recent blogs</h1>

    {{#each blogs}}
    <a href="/myblog/{{id}}">{{title}}</a>
    <p>{{content}}</p>
    <p>Created by {{poster.name}} on {{format_date date_posted}}</p>

    {{/each}}
    <div class="col-md-4">
      <button class="btn btn-dark" id="blogForm" type="submit">Create New Blog</button>
    </div>
  </div>

</div>
<script src="/js/dashboard.js"></script>