<div class="menu-container homepage">
      {{#each blogs }}
         <a href="/blog/{{id}}">{{title}}</a>
         <hr style="border: 3px solid rgb(6, 53, 35); border-radius: 5px;" />
        <h3> <p>{{content}}</p></h3>
         <p>--Created by {{poster.name}} on {{format_date date_posted}}</p>
            {{#each comments as |comment|}}
              <i>Comments: </i> <p><span>{{comments}}</span></p>
            {{/each}}
      {{/each}}
  
</div>