<div class="text-center homepage" style="padding: 10px;">
    <input type="hidden" value="{{id}}" id="blogid" />
    <h2>{{title}}</h2>

    <p>Created by {{poster.name}} on {{format_date date_posted}}</p>

    <form class="form">
        <div class="row mb-2">
            <div class="col-md-8">
                <textarea id="content" rows="4" cols="50"> {{content}}</textarea>
            </div>
        </div>
        <div style="text-align: left;">
            <button class="btn btn-dark" id="update" type="submit">Update</button>
            
            <button class="btn btn-dark" id="delete" type="submit">Delete</button>
        </div>
    </form>
</div>
<script src="/js/myblog.js"></script>